server:
  port: 8685


spring:
  datasource:
    url: jdbc:oracle:thin:@ora-spot-pro-hl.ebi.ac.uk:1531/SPOTPRO
    username:
    password: 
    driver-class-name: oracle.jdbc.driver.OracleDriver
   #hikari:
      #maximumPoolSize: 80
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          batch_size: 10


ensembl:
  datasource:
    driver-class: org.mariadb.jdbc.Driver
    url: jdbc:mysql://useastdb.ensembl.org:3306
  #db_version: '111'
  db_version: '113'
  #server: https://jul2023.rest.ensembl.org
  #server: https://dec2021.rest.ensembl.org
  server: https://oct2024.rest.ensembl.org
mapping:
  dbsnp_endpoint: /info/variation/homo_sapiens?content-type=application/json;filter=dbSNP
  ensembl_source: Ensembl
  gene_lookup_endpoint: lookup_symbol
  genome_build_endpoint: /info/assembly/homo_sapiens?content-type=application/json
  genomic_distance: 100000
  maxSleepTime: 1000
  method: Ensembl_pipeline
  ncbi_db_type: otherfeatures
  ncbi_logic_name: refseq_import
  ncbi_source: NCBI
  release_endpoint: /info/data/?content-type=application/json
  requestCount: 0
  requestPerSecond: 15
  snp_lookup_endpoint: variation
  #version: 111
  version: 113
  cache: /Users/sajo/Downloads/cache
  #cache: /nfs/gwas/data/prod/sw/mapper/ensembl-cache

